body {
    background-color:darkslateblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.container {
    width: 60vmin;
    height: 90vmin;
    margin: auto;
    padding: 5px;
    border-radius: 2px;
    background-color: slategray;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.screen {
    flex: 1;
    border: 1px dotted lightblue;
}
.buttons {
    flex: 5;
}

.left {
    flex: 3;
}
.right {
    flex: 1;
}

.top {
    flex: 4;
    flex-wrap: wrap;
}
.bot {
    flex: 1;
}
.top>div {
    flex: 1;
}

button#add,
button#eql,
button#zero {
    flex: 2;
}
button {
    flex: 1;
    font-size: 28px;
}
